<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILotoService" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IPlayerService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61321/LotoService.svc/Machine"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILotoService"
                contract="ServiceReference1.ILotoService" name="BasicHttpBinding_ILotoService" />
            <endpoint address="http://localhost:61321/LotoService.svc/Player"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IPlayerService"
                contract="ServiceReference1.IPlayerService" name="WSDualHttpBinding_IPlayerService">
                <identity>
                    <userPrincipalName value="DESKTOP-74HN9UR\Aleksa" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>